body {
  padding-top: 100px;
}

#contentarea {
  margin-bottom: 50px;
}

textarea {
  resize: vertical;
}

#footer {
  min-height: 25px !important;
  height: 25px !important;
}

#footer a {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 10px !important;
}

#logoutlink {
  margin-left: -15px;
}

.table > tbody > tr:hover> td {
  background-color: #CC5D3E;
  color: #FFFFFF;
  cursor: pointer;
}

.modal {
  margin-top: 130px;
}

.inline {
  display: inline-block;
}
